@import "@/styles/variables";

$color-bg-primary: cyan;
$color-bg-secondary: rgb(32, 228, 228);
$color-bg-secondary-highlight: #404040;
$color-border-primary: #000;
$color-border-secondary: #333;
$color-link-primary: rgb(0, 128, 128);
$color-link-secondary: rgb(16, 212, 80);
$color-link-hover: rgb(200, 255, 228);
$color-emphasis: #000;
$color-text-headline: #345;
$color-text-subtle: #888;
$color-text-main: #000;
$color-button-bg: #fff;
$color-button-over: #999;
$color-button-border: #bbb;
$color-action-create-bg: #484;
$color-action-create-text: #fff;
$color-action-destroy-bg: #822;
$color-action-destroy-text: #fff;
$color-action-neutral-bg: #08b;
$color-action-neutral-text: #fff;