@import "@/styles/variables";

$color-primary-bg: rgb(0, 235, 235);
$color-primary-bg-highlight: rgb(22, 159, 122);
$color-primary-link: rgb(16, 86, 137);
$color-primary-link-hover: rgb(65, 123, 164);
$color-primary-text: #000;
$color-primary-border: rgb(45, 155, 169);
$color-secondary-bg: rgb(32, 196, 152);
$color-secondary-bg-highlight: #0f5d89;
$color-secondary-link: rgb(0, 57, 123);
$color-secondary-text: #000;
$color-secondary-border: rgb(22, 159, 122);
$color-link-shadow: rgba(255, 255, 128, 0.3);
$color-link-hover: rgb(200, 255, 228);
$color-emphasis: rgb(64, 96, 128);
$color-text-headline: #000;
$color-text-subtle: rgba(32, 64, 96, .8);
$color-text-main: #dfdfdf;
$color-button-bg: #fff;
$color-button-over: #999;
$color-button-border: #bbb;
$color-action-create-bg: #484;
$color-action-create-text: #fff;
$color-action-destroy-bg: #822;
$color-action-destroy-text: #fff;
$color-action-neutral-bg: #08b;
$color-action-neutral-text: #fff;
$color-breadcrumb-arrow: #0f5d89;
$color-box-shadow: #000;
$color-text-shadow: #000;
$color-banner-text: #fff;
$color-banner-bg-primary: $color-primary-bg;
$color-banner-bg-secondary: $color-secondary-bg;
$color-modal-bg: rgba(16, 16, 16, 0.8);
$color-overlay-bg: rgba(64, 64, 64, 0.75);
$color-list-item-bg: rgba(0, 0, 0, 0.1);
$color-input-bg: #fff;
$color-input-text: #000;
$color-input-border: $color-primary-border;
$color-footer-bg: $color-banner-bg-secondary;
$color-footer-text: #000;
$color-nested-box-bg-primary: rgba(255, 255, 255, 0.25);
$color-nested-box-bg-secondary: rgba(255, 255, 255, 0.4);