@import "@theme/variables";

@mixin sidebar-block {
  h3 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    padding-bottom: 1rem;
    border-bottom: $space-xsmall $color-secondary-border solid;
  }

  ul {
    list-style: none;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;

    li {
      padding: 1.5rem 0;
      border-bottom: 2px $color-secondary-border solid;
      &:last-child {
        border-bottom: none;
      }
    }
  }

  margin-bottom: 2rem;
}

@mixin dropdown-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: 22.5rem;
  overflow-y: scroll;
}

@mixin dropdown-item {
  background-color: #ccc;
  color: #000;
  padding: 0.5rem;
  height: 1.25rem;
  line-height: 1.25rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  &--selected {
    background-color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
}

@mixin container-width {
  padding: 0 $space-xlarge;
  max-width: 1920px;
  margin: auto;
}

@mixin admin-list-item {
  margin: $space 0;
  padding: $space;
  background-color: $color-secondary-bg;
  border: 1px $color-secondary-border solid;
  max-width: 100%;
}

@mixin sortable-list {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  transform: all 0.3s;

  &--dragging li * {
    pointer-events: none;
  }

  li {
    transition: all 0.3s;
    cursor: move;
    border: 0.25rem transparent solid;
    border-radius: 1rem;

    &.sortable-item--moving {
      transform: scale(0.9);
      opacity: 0.25;
    }

    &.sortable-item--over {
      border: 0.25rem $color-secondary-border dashed;
      opacity: 0.9;
      box-shadow: 0 0 $space-large $color-box-glow;
    }
  }
}