@import "@theme/variables";
@import "@theme/media";
@import "@theme/mixins";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: $color-bg-primary;
  font-family: $font-family;
  color: #efefef;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  margin: 0;
}

.main-container {
  @include container-width;
  display: flex;
  align-items: flex-start;
  transition: height 0.3s;
  gap: 1rem;
  width: calc(100% - $space-xlarge * 2);

  &--loading {
    main {
      padding-bottom: $loader-height;
    }
  }
}

main {
  position: relative;
  flex: 7;
  min-height: $loader-height;
}

aside {
  margin-top: 1rem;
  min-width: 352px;
  padding: $space-xlarge;
  flex: 3;
  background-color: $color-bg-secondary;
  position: sticky;
  top: calc(1rem);
  border-right: 2px $color-border-primary solid;
  border-bottom: 2px $color-border-primary solid;
}

.app--has-admin-pane aside {
  top: calc(1rem + $admin-pane-height);
}

strong {
  font-weight: bold;
  color: $color-emphasis;
}

a {
  color: $color-link-primary;
  text-shadow: 0 0 5px $color-link-shadow;
  text-decoration: none;
  transition: all 0.2s;
  &:hover {
    color: $color-link-hover;
  }
}

.ql-editor a {
  color: #06c;
}

input,
select,
button,
textarea {
  font-size: 18px;
  border-radius: 4px;
  padding: 8px;
  outline: none;
  border: 2px #000 solid;
  font-family: $font-family;
}

button {
  cursor: pointer;
  text-transform: uppercase;
}

h2,
h3,
h4,
h5,
h6,
h7 {
  color: $color-emphasis;
}

.grecaptcha-badge {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
}
