@import "variables";
@import "media";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  font-family: $font-family;
  color: #efefef;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  margin: 0;
}

.main-container {
  display: flex;
  max-width: 1920px;
  margin: auto;
}

main {
  padding: $space-xlarge;
  flex: 7;
}

aside {
  min-width: 352px;
  padding: $space-xlarge;
  flex: 3;
  border-left: 1px #444 solid;
}

strong {
  font-weight: bold;
  color: $color-emphasis;
}

a {
  color: $color-link-primary;
  text-shadow: 0 0 5px rgba(255, 255, 128, 0.3);
  text-decoration: none;
  transition: all 0.2s;
  &:hover {
    color: $color-link-hover;
  }
}

input,
select,
button,
textarea {
  font-size: 18px;
  border-radius: 4px;
  padding: 8px;
  outline: none;
  border: 2px #000 solid;
  font-family: "Pathway Gothic One", sans-serif;
}

button {
  cursor: pointer;
  text-transform: uppercase;
}

h2,
h3,
h4,
h5,
h6,
h7 {
  color: $color-emphasis;
}

.grecaptcha-badge {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
}
