$font-family: 'Rajdhani', sans-serif;

$space: 1rem;
$space-large: $space * 1.5;
$space-xlarge: $space * 2;
$space-xxlarge: $space * 3;
$space-xxxlarge: $space * 4;
$space-small: $space * 0.666;
$space-xsmall: $space * 0.5;
$space-xxsmall: $space * 0.333;
$space-xxxsmall: $space * 0.25;

$font: 1rem;
$font-large: $font * 1.5;
$font-xlarge: $font * 2;
$font-xxlarge: $font * 3;
$font-xxxlarge: $font * 4;
$font-small: $font * 0.9090;
$font-xsmall: $font * 0.8;
$font-xxsmall: $font * 0.666;
$font-xxxsmall: $font * 0.571428;

$color-bg-primary: #181818;
$color-bg-primary-highlight: #1f1f1f;
$color-bg-secondary: #222;
$color-bg-secondary-highlight: #404040;
$color-border-primary: #000;
$color-border-secondary: #333;
$color-link-primary: rgb(0, 196, 64);
$color-link-secondary: rgb(16, 212, 80);
$color-link-shadow: rgba(255, 255, 128, 0.3);
$color-link-hover: rgb(200, 255, 228);
$color-emphasis: #cfcfcf;
$color-text-headline: #fff;
$color-text-subtle: #888;
$color-text-main: #dfdfdf;
$color-button-bg: #fff;
$color-button-over: #999;
$color-button-border: #bbb;
$color-action-create-bg: #484;
$color-action-create-text: #fff;
$color-action-destroy-bg: #822;
$color-action-destroy-text: #fff;
$color-action-neutral-bg: #08b;
$color-action-neutral-text: #fff;
$color-breadcrumb-arrow: rgba(119, 119, 119, 0.5);
$color-breadcrumb-text: rgba(255, 255, 255, 0.75);
$color-breadcrumb-link: $color-link-primary;
$color-box-shadow: #000;
$color-text-shadow: #000;
$color-banner-bg-primary: #222;
$color-banner-bg-secondary: #000;
$color-modal-bg: rgba(16, 16, 16, 0.8);
$color-overlay-bg: rgba(64, 64, 64, 0.75);
$color-list-item-bg: rgba(0, 0, 0, 0.1);
$color-input-bg: #fff;
$color-input-text: #000;
$color-nested-box-bg-primary: rgba(255, 255, 255, 0.05);
$color-nested-box-bg-secondary: rgba(255, 255, 255, 0.1);
$size-border: 2px;

$loader-height: 10rem;
$admin-pane-height: 2rem;