$space: 1rem;
$space-large: $space * 1.5;
$space-xlarge: $space * 2;
$space-small: $space / 1.5;
$space-xsmall: $space / 2;

$color-bg-primary: #000;
$color-bg-secondary: #505050;
$color-link-primary: yellow;
$color-emphasis: orange;
$color-text-headline: #fff;
$color-text-subtle: #888;
$color-text-main: #dfdfdf;
$color-button-bg: #fff;
$color-button-over: #999;
$color-button-border: #bbb;
$color-action-create-bg: #484;
$color-action-create-text: #fff;
$color-action-destroy-bg: #822;
$color-action-destroy-text: #fff;
